body{
    height: 100%;
}

.flex{
    display: flex;
    
}
.center{
    justify-content: center ;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header nav{
    background-color:#BC8F8F;
    width: 100%;
    position: fixed;
    top: 0;
    justify-content: space-around;
    z-index: 2;

}

#btn-procurar{
    width: 250px;
    height: 40px;
    border-radius: 40px;
    border: none;
    background-color: #dbc1c1;
    color: white;
    margin-top: 40px;
    text-decoration: none;
    outline: 0;
    padding: 15px;
}

.material-symbols-outlined{
    position: relative;
    left: -40px;
    top: 5px;
    cursor: pointer;
}
.material-symbols-outlined:hover{
    color: #BC8F8F;
}

nav li{
    list-style:none;
    font-size: 20px;
    margin: auto;
    margin-left: 25px;
}
nav h1{
    font-size: 40px;
    margin-right: 20px;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
   color: #dbc1c1;
}
div.store-name{
    color: white;
    font-size: 10px;
}

.slider{
    margin: 150px auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}
.slides{
    width: 400%;
    height: 400px; 
}
.slides input{
    display: none;
}
.slide {
    width: 25%;
    position: relative;
    margin-left: 100%;
}
#primeiro{
    margin-left: 0;
}
.slide img{
    width: 800px;
}
.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: 350px;
}
.manual-btn{
    border: 2px solid rgb(173, 131, 131);
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 5px;
    transition: 1s;
}
.manual-btn:hover{
    background-color: #eceaea6e;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left:-100%;
}
#radio3:checked ~ .first{
    margin-left:-200%;
}
#radio4:checked ~ .first{
    margin-left:-375%;
}
.navigation-auto div{
    border: 2px solid rgb(173, 131, 131);
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    margin-left: 5px;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 350px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color:rgb(173, 131, 131);
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: rgb(173, 131, 131);
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: rgb(173, 131, 131);
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: rgb(173, 131, 131);
}

section>h2{
    text-align: center;
    font-size: 35px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 7px;
    color: #BC8F8F;
    margin-top: 150px;
}

.principal-section{
    flex-wrap: wrap;
}

div.options{
    margin-top: 30px;
    width: 80%;
    margin: auto;
}

.sections{
    background-color: rgba(188, 143, 143, 0.521);
    width: 100%;
    height: 100px;
    border: 2px solid #ffffff;
    font-size: 25px;
    color: white;
    position: relative;
}
a{
    height:100%;
}

div>img{
    width: 100%;
    height: 100%;
}
.images{
    background-color: #BC8F8F;
    z-index: 2;
}
img{
    width: 100%;
    height: 100px;
    z-index: -1;
    position: absolute;
}

.sections:hover{
    background-color: #f1d7d79d;
    border:2px double #ffffff9d;
    color: #BC8F8F;
    transition: 2s;
    z-index: 1;
}
h3{
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: 100;
}


.landing{
    width: 100%;
    height: 350px;
    background-color:#c9c7c7;
    margin-top: 200px;
}
.landing>h1{
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    padding: 20px 0 0 0;
}
.landing>p{
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
}
.div-inputs{
    display: flex;
    justify-content: center;
}
.inputs{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   flex-wrap: wrap;
   margin: 10px 10px ;
}
.inputs p{
    color: #BC8F8F;
    font-size: 17px;
    font-weight: 600;
}
input{
    border: 2px solid white;
    padding: 15px;
    border-radius: 5px;
    width: 200px;
}

#submit{
    width: 150px;
    padding: 15px;
    background-color:#BC8F8F;
    border: 2px solid #BC8F8F;
    margin-top: 10px;
    color: white;
    letter-spacing: 2px;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}

footer{
    background-color: #BC8F8F;
    width: 100%;
    position: absolute;
    bottom: -1000px;
    left: 0;
    height: 50px;
    text-align: center;
    font-size: 20px;
    color: #f1dfdf;
}

@media screen and (max-width: 768px){
    nav{
        flex-wrap: wrap;
    }
	div.options{
        flex-direction: column;
    }
    header div.principal{
        font-size: 20px;
        flex-wrap: wrap;
        margin: auto;
        text-align: center;
    }
    .principal-section{
        margin-top: 35%;
    }
    .slider{
        margin: 250px auto;
        width: 550px;
        height: 350px;
    }
    .manual-navigation{
        width: 550px;
        margin-top: 300px;
    }
    .navigation-auto{
        width: 550px;
        margin-top: 300px;
    }
    footer{
        bottom: -1300px;
    }
}

@media screen and (max-width: 500px){
    .store-name{
        flex-direction: column;
    }
    #btn-procurar{
        width: 250px;
        margin-top: 0;
    }
    header nav{
        position: relative;
    }
    nav ul{
        flex-direction: column;
        padding: 0;
        margin-top: 15px;
    }
    nav ul li{
        padding: 5px;
        border: 1px solid white;
        margin: 0;
        text-align: center;
        margin-top: 10px;
        box-shadow: 2px 1px 3px   rgba(0, 0, 0, 0.37);
        border-radius: 50px;
        font-size: 17px;
    }
    .slider{
        margin: 100px auto;
        width: 300px;
        height: 200px;
    }
    .manual-navigation{
        width: 300px;
        margin-top: 150px;
    }
    .navigation-auto{
        width: 300px;
        margin-top: 150px;
    }

    .landing{
        height: 600px;
    }
    .landing>h1{
        color: white;
        text-transform: uppercase;
        letter-spacing: 5px;
        text-align: center;
        padding: 20px 0 0 0;
        width: 80%;
        margin: 0 auto;
    }
    .landing>p{
        color: white;
        text-transform: uppercase;
        letter-spacing: 5px;
        text-align: center;
        width: 80%;
        margin: 15px auto;
    }
    .div-inputs{
        flex-direction: column;
    }
    .inputs{
       margin: 5px 5px ;
    }
    input{
        border: 2px solid white;
        padding: 15px;
        border-radius: 5px;
        width: 200px;
    }
    #submit{
        margin-top: 20px;
        width: 230px;
    }
    footer{
        bottom: -1500px;
    }
}